/* Banner style for all views */
@media only screen and (max-width: 767px) {
    .carousel-inner .carousel-item img {
        height: 200px;
        width: 100%; /* Ensuring full width */
        object-fit: cover; /* Ensures image covers the entire space without distortion */
    }

    .carousel-caption h2 {
        font-size: 18px;
        padding-top: 20%;
    }
}

.carousel-caption {
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
}

.carousel-caption h2 {
    max-width: 80%;
    margin: 0;
    padding-top: 35px;
    color: white;
}

/* General image styling */
#image1 {
    margin-bottom: 15px;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    #image1 {
        margin-top: 0px;
        /* Adjust the value for smaller screens */
    }
}

/* Extra image in iPad view start */
.ipad-image-class {
    display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 1) {
    .ipad-image-class {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }
}
/* Extra image in iPad view end */

/* QIB Button style */
#Button1 {
    background-color: #55b6c7; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

#Button1:hover {
    background-color: #47a5b0; /* Change background color on hover */
}

/* Card button style */
.view-more-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(63, 153, 182);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.view-more-button:hover {
    background-color: rgb(53, 133, 162); /* Change background color on hover */
}

.a_card {
    text-decoration: none;
    font-size: 22px;
    color: black;
    transition: color 0.3s ease; /* Add transition effect */
}

.a_card:hover {
    opacity: 0.7;
    color: black;
}

/* Container and text styles */
#texts {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

#text h2 {
    background-image: linear-gradient(to right, #000000, #34b6de, #000000);
    background-clip: text;
    -webkit-background-clip: text; /* For compatibility with some browsers */
    text-align: center;
    font-size: 45px;
    color: transparent; /* Set the text color to transparent to make the background visible */
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Image adjustments for larger screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .custom-image {
        margin-top: 20px; /* Adjust the margin-top value as needed */
    }
}
